/* *****************CARDS **************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
	i {
		font-size: 2.7rem;
		color: var(--icons-color);
	}
}



.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	section {
		font-weight: 10rem;
		font-size: 2rem;
		color: var(--dark-color);
		text-transform: uppercase;
	}
	p {
		color: #777;
		font-weight: 500;
		text-transform: uppercase;
	}
}



/* *************** CATEGORIES ******************* */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
	p, li{
		font-size: 2rem;
		color: #fff;
		text-transform: capitalize;
		position: relative;
		 a{
			text-decoration: none;
			font-size: 1.6rem;
			color: #fff;
			cursor: pointer;
		}
		 a:after {
			content: '';
			width: 2.5rem;
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: -1rem;
			left: 50%;
			transform: translate(-50%, 50%);
		}
		 a:hover {
			color: var(--icons-color);
		}
		
	}
}

.category-botas {
	background-image: linear-gradient(#00000055, #00000055),
		url("../images/modelo\ h.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-sandalias {
	background-image: linear-gradient(#00000055, #00000055),
		url("../images/azyl\ y\ rosa\ h.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-valerinas {
	background-image: linear-gradient(#00000055, #00000055),
		url("../images/grabadora\ h.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
