@media screen and (min-width: 469px)and (max-width: 1024px) {
	html {
		font-size: 57%;
	}

	.field {
		padding:2rem;
	}

	.heart {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}
	.container__field {
		max-width: 100%;
		margin: 0 auto;
		padding: 2.5rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 3rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
		p {
			font-size: 2rem;
			text-align: center;
			line-height: 1;
		}
		span {
			font-size: 1.4rem;
		}
	}
 

	.container-options {
		align-items: center;
		span {
			text-align: center;
			padding: 1rem 2rem;
		}
	}

 

	.container-products {
		grid-template-columns: repeat(2, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(1, 15rem);
	}

	.container-blogs {
		padding-top: 3rem;
		overflow: hidden;
		grid-template-columns: 1fr 1fr;
		height: auto;
	}


	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}
/* ************** MEDIA QUERIES -- 468px ******************** */
@media screen and (min-width: 315px) and (max-width: 468px) {
	html {
		font-size: 42.5%;
	}
	.field {
		padding:2rem;
	}

	.heart {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}
	.container__field {
		max-width: 100%;
		margin: 0 auto;
		padding: 2.5rem 0;
	}

	.container__field {
		max-width: 100%;
		padding: 2.5rem ;
	}
	.content-img-principal{
		padding: 8rem;
	
	}
	.heading-1 {
		font-size: 2.8rem;
	}
	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 3rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
		span {
			font-size: 1.6rem;
			text-align: center;
		}
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 2rem 2.3rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(1, minmax(15rem, 1fr));
		gap: 1rem;
		width: 90%;
		padding-left: 5rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: auto;
	}

	.content-blog h3 {
		font-size: 2.4rem;
		span {
			font-size: 1.8rem;
		}
		p {
			font-size: 2.2rem;
		}
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}
	
	.title-footer{
		font-size: 2.3rem;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 2rem;
	}

	.list-group-item {
		font-size: 1.8rem;
	}

	.card-link {
		font-size: 1.6rem;
		text-decoration: none;
		color: rgb(244, 130, 149);
		text-transform: uppercase;
	}
	.carousel-caption{
		max-width: auto;
	}
	.search__form  {
	display:none;
}

.form2{
	display: block;
	background-image: url('../images/zapatillas v.jpg');
	padding-top: 2rem;
	padding-bottom: 2rem;
}


}



