@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
/* font-family: 'Libre Baskerville', serif; */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@mixin flex  ($direction, $justify, $align, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
:root {
	--primary-color: #f11cb1;
	--icons-color: rgb(252, 127, 148);
	--background-color: #f5e5d1;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Signika Negative', sans-serif; 
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
